:root {
  --font-family: "Manrope", sans-serif;

  --Text: #475467;
  --gray: #8d929a;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --main: #101828;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
